.userlist
{
    flex:0.3;
border-right: 2px solid whitesmoke;
    padding: 10px;
    overflow-y: scroll;
}
.userlist::-webkit-scrollbar
{
    outline: none;
}
.userlist .user {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    font-weight: 600;
}
.userlist .user i
{
    margin-right: 5px;
}